<div class="container">
  <div class="row">

    <div class="col-8">
      <div class="card recent-sales">

        <div class="card-body">

          <h5 class="card-title">Top 10 <span>| coins</span></h5>

          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Current Price</th>
                <th scope="col">All Time High</th>
                <th scope="col">Market Cap</th>
                <th scope="col">24h (%)</th>
              </tr>
            </thead>
          </table>

        </div>

      </div>
    </div>

  </div>

  <%= link_to "See all companies", index_path %>
</div>>
